#header {
  width: 100%;
  background: $black;
  padding: 10px 0;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 20;
  box-shadow: 0 0 18px 16px rgba(0, 0, 0, .15);
  box-sizing: border-box;
}

.live_icon {
  display: none;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.games .thumb_block {
  display: none;
}

.games .thumb_block:nth-child(-n+15) {
  display: block;
}

.games[active] {
  .thumb_block {
    display: block;
  }
}

.header__burger {
  display: none;
  min-width: 30px;
}

.providers__burger {
  display: none;
}

.providers__compact {
  display: none;
}

.header__wrap {
  display: flex;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}

.header__content {
  display: flex;
  width: 100%;
  column-gap: 25px;
  justify-content: space-between;
}

.header__controlls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  order: 2;
  column-gap: 15px;
}

.header__buttons {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.btn_login,
.btn_register {
  white-space: nowrap;
}

.header__navigation {
  width: 100%;
  max-width: 60%;
  margin-left: 50px;
  display: flex;
  justify-content: stretch;

  ul {
    width: 100%;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 15px;
  }

  li {
    display: inline-block;

    a {
      font-family: "PT Sans";
      color: $gray;
      text-decoration: none;
      font-size: 18px;
      white-space: nowrap;
      transition: .3s;
      display: inline-block;
      width: 100%;

      img {
        display: inline-block;
        width: 80px;
      }

      &:hover {
        color: #fff;
      }
    }
  }

  li[active] {
    display: flex;
    align-items: center;
    column-gap: 5px;

    a {
      color: #fff;
      font-weight: 700;
    }

    &::before {
      content: "";
      width: 12px;
      height: 10px;
      background: $green;
      display: inline-block;
      border-radius: 100%;
    }
  }
}

.container_main {
  &::after {
    content: "";
    display: block;
    width: 15%;
    height: 100%;
    position: fixed;
    top: 76px;
    left: 0;
    background: url("../img/girls-cards-left.webp") center center / cover no-repeat;
    width: calc((100% - 1278px)/2);
    z-index: 1;
  }

  &::before {
    content: "";
    display: block;
    width: 15%;
    height: 100%;
    position: fixed;
    top: 76px;
    right: 0;
    background: url("../img/girls-cards-right.webp") center center / cover no-repeat;
    width: calc((100% - 1280px)/2);
    z-index: 1;
  }

  .content_main {
    position: relative;
    z-index: 2;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    color: #fff;
    background: $cover_bg;
  }

  .content_wrap {
    padding: 0 10px;
    display: flex;
    column-gap: 15px;
    background: $cover_bg;
  }
}

#sidebar {
  box-sizing: border-box;
  min-width: 245px;
}

#content {
  width: 100%;
}

.header__controlls_wrap {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.banner_row {
  display: flex;
  justify-content: space-between;
  column-gap: 15px;
  padding: 10px;
  padding-bottom: 0;
}

.bonus_banner_wrap, .bonus_banner_wrap[hidden] {
  display: block;
}

.bonus_banner {
  background: url("../img/bonus-coins.webp") center center / 95% no-repeat;
  height: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 10px;
  min-width: 245px;
  text-decoration: none;
  color: #fff;
}

.bonus_banner__close_btn {
  display: none;
}

.banner_lg {
  position: relative;
}

.banner_lg img {
  max-width: 100%;
  overflow: hidden;
  border-radius: 4px;
}

.banner_lg__content {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
  color: #fff;
  text-decoration: none;
}

.banner_lg__text {
  font-weight: 700;
  font-size: 26px;
  font-style: italic;
}

.banner_lg__btn {
  margin-top: 15px;
  height: 40px;
}

.bonus_banner__content {
  font-size: 36px;
  font-weight: 900;
}

.bonus_banner__title {
  font-weight: 500;
  font-size: 18px;
}

.bonus_banner__btn {
  max-height: 45px;
  font-weight: 500;
}

.providers_wrap {
  margin-top: 15px;
}

.providers {
  ul {
    width: 100%;
    padding: 0;
    list-style: none;
  }

  li {
    width: 100%;
  }

  li:not(:last-child) {
    margin-bottom: 1px;
  }

  li:first-child a {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  li:last-child a {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  a {
    display: inline-block;
    width: 100%;
    height: 36px;
    border-radius: 0;
    font-family: "PT Sans";
    padding-left: 10px;
  }

  li[data-new] {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-60%) translateX(6px);
      right: 0;
      width: 55px;
      height: 29px;
      background: url("../img/new.svg") no-repeat center;
      pointer-events: none;
    }
  }
}

.game__hidden {
  margin-top: 10px;
}

.info {
  font-family: "PT Sans";

  .title_section:first-child {
    margin-top: 10px;
    margin-bottom: 25px;
  }

  table {
    font-family: "PT Sans";
    border-collapse: collapse;
    margin: 0;
  }

  td {
    border: 1px solid rgb(129, 129, 129);
    padding: 6px 10px;
  }

  h2 {
    font-size: 22px;
    margin: 0.67em 0;
    font-weight: 700;
  }

  h3 {
    font-weight: 700;
    font-size: 18px;
  }

  h4 {
    font-weight: 700;
    font-size: 16px;
  }

  a {
    color: $green;
  }

  p {
    margin: 15px 0;
  }

  ul {
    list-style: none;
    padding-left: 15px;
  }

  ol {
    padding-left: 35px;
  }

  ol li::marker {
    color: $green;
  }

  ul li {
    padding-left: 20px;
    color: #fff;
    font-size: 16px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 10px;
      height: 10px;
      border: 1px solid #24bb9d;
      border-radius: 50%;
    }
  }

  ol li:not(:last-child),
  ul li:not(:last-child) {
    margin-bottom: 5px;
  }
}

.info__row {
  display: flex;
  column-gap: 100px;
  margin-bottom: 25px;

  table {
    margin-top: 0px;
  }
}

#footer {
  padding-bottom: 20px;
  font-family: "PT Sans";
  background: #424242;
}

.footer_nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 10px;
  padding-right: 60px;
  border-bottom: 1px solid #777;

  ul {
    padding: 0;
    list-style: none;
  }

  a {
    font-size: 12px;
    color: #fff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .footer_nav__col_title {
    font-family: "PT Sans";
    font-weight: 700;
    margin-bottom: 10px;
  }

  .svg-partners {
    width: 50px;
    height: 50px;
    margin-top: 15px;
  }

  .svg-partners .svg-partners__circle {
    fill: $green;
  }

  .svg-partners:hover .svg-partners__circle {
    fill: #339f8f;
    transition: .3s;
  }
}

.footer_txt {
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
  padding: 0 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #777;
}

.footer_column {
  display: flex;
  flex-direction: column;
}

.footer_logo__icon {
  max-width: 160px;
  align-self: center;
}

.footer_benefits {
  padding: 0;
  list-style: none;

  li {
    position: relative;
    padding-left: 16px;
    font-size: 14px;
  }

  li:not(:last-child) {
    margin-bottom: 5px;
  }

  li::before {
    position: absolute;
    left: 0px;
    top: 6px;
    content: '';
    display: inline-block;
    width: 12px;
    height: 8px;
    margin-right: 6px;
    background-image: url(../img/checked.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }
}

.footer_txt__block_title {
  font-size: 16px;
  font-weight: 700;
}

.footer_txt__block_content {
  font-size: 12px;
  color: #a9a9a9;
}

.footer_txt__block {
  max-width: 440px;
}

.footer_socials {
  padding: 0 10px;
  border-bottom: 1px solid #777;

  ul {
    padding: 0;
    list-style: none;
    display: flex;
    column-gap: 5px;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: $green;
    transition: .3s;

    &:hover {
      background: #339f8f;
    }
  }

  .telegram {
    transform: translateX(-3px);
  }

  .instagram, .facebook {
    transform: translateX(-1px);
  }

  .youtube {
    transform: translateX(-1px);
  }
}

.footer_brands {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  padding: 0 10px;
  padding-bottom: 10px;

  img {
    filter: grayscale(100%);
    transition: .3s;
  }

  a:hover {
    img {
      filter: grayscale(0);
    }
  }
}

.footer_icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #242424;
  padding: 0 25px;


  img {
    max-height: 28px;
  }

  .astropay {
    width: 102px;
    max-height:none;
  }

  .pockerbet {
    max-width: 48px;
    width: 100%;
    max-height: none;
  }

  .eighteen {
    width: 32px;
    height: 32px;
    max-height: none;
    filter: grayscale(100%);
    transition: .3s;

    &:hover {
      filter: grayscale(0);
    }
  }

  .licenze {
    max-height: none;
    height: 36px;
  }
}

.footer_desc {
  margin-top: 15px;
  padding: 0 15px;
  font-size: 10px;
  color: #a9a9a9;
  text-align: center;
}

.footer_app {
  text-align: center;
  margin-top: 15px;
}

.info + .faq_section {
  padding-bottom: 25px;
}

.logo_mob {
  display: none;
}

.header__navigation li a .mob_menu_icon {
  display: none;
}

.mob_menu_icon {
  display: none;
}






