.select_lang {
  cursor: pointer;
  position: relative;
  height: 100%;
  max-width: 65px;
  min-width: 65px;
  width: 100%;
  color: #fff;
  max-height: 32px;

  li {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: .2s;
    padding: 8px 0px;

    &:hover span {
      color: $green;
    }
  }

  li:not(:last-child) {
    border-bottom: 1px solid #0f0f0f;
  }

  .select_lang__content {
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    position: absolute;
    display: none;
    overflow: hidden;
    transform: translateY(-16px);
    background: $black;
    padding: 0;
    width: 100%;

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      margin-left: 3px;
    }

    span {
      text-transform: uppercase;
      font-size: 14px;
      display: inline-block;
      width: 22px;
      color: #fff;
      margin-left: 8px;
    }

    img {
      width: 24px;
    }
  }

  .select_lang__title {
    background: $black;
    display: flex;
    align-items: center;
    column-gap: 25%;
    transition: .3s;
    padding: 8px 0px;
    padding-left: 7px;
    color: #fff;
    width: 100%;
    box-sizing: border-box;

    span {
      text-transform: uppercase;
      font-size: 12px;
    }

    .select_lang__chevron {
      transition: .2s;
      border-bottom: 5px solid transparent;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 5px solid #fff;
      height: 0;
      width: 0;
      margin-bottom: -4px;
      transform: scaleY(1);
    }

    img {
      width: 24px;
    }
  }
}

.select_lang[active] {
  .select_lang__content {
    display: flex;
  }

  .select_lang__title .select_lang__chevron {
    margin-bottom: 4px;
    transform: scaleY(-1);
    border-top: 5px solid $green;
  }
}

/* =============================== */
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 7px 24px;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
  transition: .3s;
  box-sizing: border-box;
  height: 100%;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

/* =============================== */
.btn_green {
  background: $green;

  &:hover {
    background: $green_active;
  }
}

/* =============================== */
.btn_red {
  background: $red;

  &:hover {
    background: $red_active;
  }
}

/* =============================== */
.btn_gray {
  background: #424242;
  color: #fff;
  text-decoration: none;
  font-family: "PT Sans";

  &:hover {
    background: #242424;
  }
}

/* =============================== */
.logo_link {
  display: inline-block;
  max-width: 120px;
  width: 100%;

  .logo_icon,
  img {
    width: 100%;
  }
}

/* =============================== */
.search {
  position: relative;

  .search_btn {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 5px;
    background: url("../img/magnifier.svg") center center / cover no-repeat;
    border: none;
    transform: translateY(-50%) scaleX(-1);
    cursor: pointer;
  }

  .search_input {
    font-family: "PT Sans";
    padding-left: 30px;
    height: 36px;
    width: 100%;
    border-radius: 4px;
    box-sizing: border-box;
    border: none;

    &:focus {
      outline: 2px solid $green;
    }
  }
}

/* =============================== */
.scale_box {
  display: inline-block;
  max-width: 192px;
  width: 100%;
  max-height: 144px;
  height: 100%;
  overflow: hidden;
  border-radius: 4px;

  img {
    width: 100%;
    transition: .7s;
  }

  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}

/* =============================== */
.thumb_block {
  display: inline-flex;
  flex-direction: column;
  text-decoration: none;
  position: relative;

  &:hover {
    .scale_box {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.1;
        z-index: 2;
      }
    }

    .scale_box img {
      transform: scale(1.1);
    }

    .thumb_block__title {
      color: $green;
    }

    .scale_box {
      position: relative;
    }
  }
}

.thumb_block__title {
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  display: inline-block;
  margin-top: 5px;
  transition: .3s;
}

.thumb_block[data-new] {
    &::before {
      content: "";
      height: 30px;
      width: 100%;
      background: url("../img/new_left.svg") no-repeat center;
      background-position: left;
      pointer-events: none;
      position: absolute;
      left: -6px;
      top: 6px;
      z-index: 3;
    }
}

.thumb_block[data-cup] {
  &::after {
    content: "";
    height: 56px;
    width: 46px;
    background: url("../img/cup.webp") center center/ contain no-repeat;
    pointer-events: none;
    position: absolute;
    right: 6px;
    top: 0px;
    z-index: 1;
  }
}

/* =============================== */
.dashbord {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 15px;
  row-gap: 10px;
}

/* =============================== */
.rolled[active] {
  .rolled_hidden {
    display: grid;
  }

  .rolled_btn {
    display: none;
  }

  .rolled_back_btn {
    display: flex;
  }
}

.rolled_hidden {
  display: none;
}

.rolled_btn {
  width: 100%;
  margin: 20px 0;
  height: 40px;
}

.rolled_back_btn {
  background: none;
  display: flex;
  align-items: center;
  column-gap: 5px;
  border: none;
  cursor: pointer;
  margin-left: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  display: none;

  span {
    transition: .3s;
    color: #a7a7a7;
  }

  svg {
    width: 15px;
    height: 15px;
    transform: translateY(-1px);
  }

  path {
    transition: .3s;
    stroke: #a7a7a7;
  }

  &:hover {
    span {
      color: $green;
    }

    path {
      stroke: $green;
    }
  }
}
/* =============================== */
.rating {
  font-family: "PT Sans";
  max-width: 500px;

  .rating__summary {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    border-bottom: 2px solid $red;
    padding-bottom: 25px;
  }

  .rating__row,
  .rating__total {
    display: flex;
    column-gap: 25px;
  }

  .rating__row_wrap {
    display: flex;
    column-gap: 25px;
  }

  .rating__total {
    margin-top: 25px;

    .rating__title {
      font-weight: 700;
      font-size: 22px;
      line-height: 1;
      color: #fff;
    }

    .rating__total_count {
      color: #fff;
      font-size: 22px;
      line-height: 1;
      font-weight: 700;
      color: #fff;
    }
  }

  .rating__title {
    width: 100%;
  }

  .rating__stars_container {
    display: flex;
    column-gap: 10px;
    margin-left: 15px;
  }

  .rating__star {
    width: 17px;
    height: 17px;
    background: url("../img/star_fill.svg") 0 0 / 100% no-repeat;
  }

  .rating__star[empty] {
    background-image: url("../img/star_empty.svg");
  }

  .rating__star[half] {
    background-image: url("../img/star_half.svg");
  }

  .rating__total_count {
    color: rgb(146, 146, 146);
  }

  .rating__total {
    .rating__stars_container {
      margin-left: 0;
      transform: translateX(-11px);
    }
  }
}